.home-component-card-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.home-component-card {
  width: 300px;
}

.home-component-card-image {
  max-width: 100px;
  height: auto;
}

.home-component-search-book-input {
  margin-top: 1rem !important;
}

.home-component-card-list {
  padding: 1rem !important;
}
