

.home-component-card-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.home-component-card {
  width: 500px;
  height: 220px;
  display: flex;
  flex-direction: row;
  padding: 10px !important;
}

.home-component-card-image {
  height: 200px;
  width: 130px !important;
}

.home-component-search-book-input {
  margin-top: 1rem !important;
}